
h1.text-center b-list.audio
hr

// b-list.audio-1
ins( class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3499832062666260"
     data-ad-slot="5629130948"
     data-ad-format="auto" )
hr

p.
  Paste a list of youtube links, of any pile of text that has one or more
  youtube links in it.

textarea.form-control(js-input rows=10)
br

.row
  .col-md-6.col-md-offset-3
    button.btn.btn-block.btn-primary(js-button) go
hr

#js-b-list-player
hr

ul#b-list.b-list.list-group(js-b-list)
hr

textarea.form-control(js-output rows=10)



//- list template
script(type="text/x-handlebars-template" js-b-list-template)
  li.list-group-item.b-list-item(data-code="{{code}}"
    class="{{playing}}" data-num="{{num}}")

    span.b-list-count {{count}}
    span.b-list-playing.glyphicon.glyphicon-play

    span(js-title) {{title}}

script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
script.
  (adsbygoogle = window.adsbygoogle || []).push({});

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61965214-1', 'auto');
  ga('send', 'pageview');

